[LinkToReflector]
CONNECT_LOGICS={{CONNECT_LOGICS}}
DEFAULT_ACTIVE={{DEFAULT_ACTIVE}}
OPTIONS=DEFAULT_CONNECT,NO_DISCONNECT
TIMEOUT={{TIMEOUT}}
ACTIVATE_ON_ACTIVITY={{ACTIVATE_ON_ACTIVITY}}
#ACTIVATE_ON_TG=SimplexLogic:240.*,ReflectorLogic:2403|2404|123