[LocationInfo]
CALLSIGN={{CALLSIGN}}
#SOURCE_CALLSIGN=MYCALL-1
#LOGIN_CALLSIGN=MYCALL-XX
{{APRS_SERVER_LINE}}
{{STATUS_SERVER_LINE}}
#FILTER=m/10
SYMBOL={{SYMBOL}}
LON_POSITION={{LON_POSITION}}
LAT_POSITION={{LAT_POSITION}}
FREQUENCY={{FREQUENCY}}
FREQUENCY_SEPARATOR="/"
TX_OFFSET={{TX_OFFSET}}
NARROW=1
TX_POWER={{TX_POWER}}
ANTENNA_GAIN={{ANTENNA_GAIN}}
ANTENNA_HEIGHT={{ANTENNA_HEIGHT}}
ANTENNA_DIR={{ANTENNA_DIR}}
#PATH=TCPIP*
BEACON_INTERVAL={{BEACON_INTERVAL}}
#STATISTICS_INTERVAL=10
#STATISTICS_LOGIC={{PRIMARY_LOGIC}}
TONE={{TONE}}
{{COMMENT_LINE}}
#PTY_PATH=/dev/shm/aprs_pty
#DEBUG=0
