[ReflectorLogic]
TYPE=Reflector
#DNS_DOMAIN=example.com
HOSTS={{REFLECTOR_HOST}}
HOST_PORT={{REFLECTOR_PORT}}
HOST_PRIO=100
HOST_PRIO_INC=1
HOST_WEIGHT=10
OPUS_DEC_GAIN=6
CALLSIGN={{CALLSIGN}}
CERT_PKI_DIR="/var/lib/svxlink/pki"
CERT_KEYFILE=/var/lib/svxlink/pki/{{CALLSIGN}}.key
CERT_CSRFILE=/var/lib/svxlink/pki/{{CALLSIGN}}.csr
CERT_CRTFILE=/var/lib/svxlink/pki/{{CALLSIGN}}.crt
CERT_CAFILE=/var/lib/svxlink/pki/ca-bundle.pem
CERT_DOWNLOAD_CA_BUNDLE=1
CERT_SUBJ_givenName={{CERT_GIVEN_NAME}}
CERT_SUBJ_surname={{CERT_SURNAME}}
CERT_SUBJ_organizationalUnitName={{CERT_ORGANIZATIONAL_UNIT}}
CERT_SUBJ_organizationName={{CERT_ORGANIZATION}}
CERT_SUBJ_localityName={{CERT_LOCALITY}}
CERT_SUBJ_stateOrProvinceName={{CERT_STATE_OR_PROVINCE}}
CERT_SUBJ_countryName={{CERT_COUNTRY}}
CERT_EMAIL={{CERT_EMAIL}}
#AUTH_KEY="Change this key now!"
JITTER_BUFFER_DELAY=0
DEFAULT_TG={{DEFAULT_TG}}
MONITOR_TGS={{MONITOR_TGS}}
TG_SELECT_TIMEOUT={{TG_SELECT_TIMEOUT}}
#TG_SELECT_INHIBIT_TIMEOUT={{TG_SELECT_INHIBIT_TIMEOUT}}
ANNOUNCE_REMOTE_MIN_INTERVAL=300
EVENT_HANDLER=/usr/share/svxlink/events.tcl
NODE_INFO_FILE=/etc/svxlink/node_info.json
MUTE_FIRST_TX_LOC=0
MUTE_FIRST_TX_REM=0
TMP_MONITOR_TIMEOUT=3600
UDP_HEARTBEAT_INTERVAL=15
QSY_PENDING_TIMEOUT=15
DEFAULT_LANG={{DEFAULT_LANG}}
#VERBOSE=1
