[ReflectorLogic]
TYPE=ReflectorV2
#DNS_DOMAIN=example.com
HOSTS={{REFLECTOR_HOST}}
HOST_PORT={{REFLECTOR_PORT}}
HOST_PRIO=100
HOST_PRIO_INC=1
HOST_WEIGHT=10
OPUS_DEC_GAIN=6
CALLSIGN={{CALLSIGN}}
#CERT_PKI_DIR="/var/lib/svxlink/pki"
#CERT_KEYFILE=/var/lib/svxlink/pki/MYCALL.key
#CERT_CSRFILE=/var/lib/svxlink/pki/MYCALL.csr
#CERT_CRTFILE=/var/lib/svxlink/pki/MYCALL.crt
#CERT_CAFILE=/var/lib/svxlink/pki/ca-bundle.pem
#CERT_DOWNLOAD_CA_BUNDLE=1
#CERT_SUBJ_givenName=John
#CERT_SUBJ_surname=Doe
#CERT_SUBJ_organizationalUnitName=SvxLink
#CERT_SUBJ_organizationName=SSA
#CERT_SUBJ_localityName=Stockholm
#CERT_SUBJ_stateOrProvinceName=Södermanland
#CERT_SUBJ_countryName=SE
#CERT_EMAIL=mycall@example.com
AUTH_KEY="{{REFLECTOR_AUTH_KEY}}"
JITTER_BUFFER_DELAY=0
DEFAULT_TG={{DEFAULT_TG}}
MONITOR_TGS={{MONITOR_TGS}}
TG_SELECT_TIMEOUT={{TG_SELECT_TIMEOUT}}
#TG_SELECT_INHIBIT_TIMEOUT={{TG_SELECT_INHIBIT_TIMEOUT}}
ANNOUNCE_REMOTE_MIN_INTERVAL=300
EVENT_HANDLER=/usr/share/svxlink/events.tcl
NODE_INFO_FILE=/etc/svxlink/node_info.json
MUTE_FIRST_TX_LOC=0
MUTE_FIRST_TX_REM=0
#TMP_MONITOR_TIMEOUT=3600
UDP_HEARTBEAT_INTERVAL=15
QSY_PENDING_TIMEOUT=15
DEFAULT_LANG={{DEFAULT_LANG}}
#VERBOSE=1