[{{LOGIC_NAME}}]
TYPE=Simplex
RX={{RX_NAME}}
TX={{TX_NAME}}
{{MODULES_LINE}}
CALLSIGN={{CALLSIGN}}

SHORT_IDENT_INTERVAL={{SHORT_IDENT_INTERVAL}}
SHORT_VOICE_ID_ENABLE={{SHORT_VOICE_ID_ENABLE}}
SHORT_CW_ID_ENABLE={{SHORT_CW_ID_ENABLE}}
SHORT_ANNOUNCE_ENABLE={{SHORT_ANNOUNCE_ENABLE}}
SHORT_ANNOUNCE_FILE="{{SHORT_ANNOUNCE_FILE}}"

LONG_IDENT_INTERVAL={{LONG_IDENT_INTERVAL}}
LONG_VOICE_ID_ENABLE={{LONG_VOICE_ID_ENABLE}}
LONG_CW_ID_ENABLE={{LONG_CW_ID_ENABLE}}
LONG_ANNOUNCE_ENABLE={{LONG_ANNOUNCE_ENABLE}}
LONG_ANNOUNCE_FILE="{{LONG_ANNOUNCE_FILE}}"
#IDENT_ONLY_AFTER_TX=4
#EXEC_CMD_ON_SQL_CLOSE=500
TIME_FORMAT="{{TIME_FORMAT}}"
CW_AMP={{CW_AMP}}
CW_PITCH={{CW_PITCH}}
CW_CPM={{CW_CPM}}

EVENT_HANDLER=/usr/share/svxlink/events.tcl
DEFAULT_LANG={{DEFAULT_LANG}}
RGR_SOUND_DELAY={{RGR_SOUND_DELAY}}
RGR_SOUND_ALWAYS={{RGR_SOUND_ALWAYS}}
{{REPORT_CTCSS_LINE}}
{{TX_CTCSS_LINE}}
MACRO_PREFIX=D
MACROS=Macros
FX_GAIN_NORMAL={{FX_GAIN_NORMAL}}
FX_GAIN_LOW={{FX_GAIN_LOW}}
#ACTIVATE_MODULE_ON_LONG_CMD=4:EchoLink
#QSO_RECORDER=8:QsoRecorder
{{ONLINE_CONTROL_BLOCK}}
MUTE_RX_ON_TX=1
MUTE_TX_ON_RX=1
#STATE_PTY=/var/run/svxlink/state
DTMF_CTRL_PTY={{DTMF_CTRL_PTY}}
{{CTCSS_TO_TG_BLOCK}}