<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Maintenance</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='site.css') }}">

    <link rel="icon"
          href="{{ url_for('static', filename='svxlink.ico') }}">
</head>

<body>

<main class="page">

    <section class="card dashboard-container">

        <div class="dashboard-header">

            <h1 class="status-title">

                <img class="status-title-icon"
                     src="{{ url_for('static', filename='svxlink.ico') }}"
                     alt="SvxLink icon">

                System Maintenance

            </h1>

            <p>
                Service and system control
            </p>

        </div>

        {% include "navbar.html" %}

        <div class="maintenance-panel">

            <div class="status-box status-box-soft" >

                <div class="status-box-title" >
                    Restart Services
                </div>

                <div class="status-box-row">

                    <form action="{{ url_for('restart_services_page') }}"
                          method="post">

                        <button class="maintenance-restart"
                                type="submit">

                            Restart SvxLink Services

                        </button>

                    </form>

                </div>

            </div>
            <div class="status-box status-box-soft" >

                <div class="status-box-title" >
                    Rebuild / Reconfigure
                </div>
            
                <div class="status-box-row">
                
                    <form action="{{ url_for('reconfigure_page') }}"
                          method="get">
                
                        <button class="maintenance-restart"
                                type="submit">
                
                            Rebuild / Reconfigure
                
                        </button>
                    
                    </form>
                
                </div>
            
            </div>
            <div class="status-box status-box-hard" >

                <div class="status-box-title" >
                    Reboot Device
                </div>

                <div class="status-box-row">

                    <form action="{{ url_for('reboot_device_page') }}"
                          method="post">

                        <button class="maintenance-reboot"
                                type="submit">

                            Reboot Device

                        </button>

                    </form>

                </div>

            </div>

            <div class="status-box status-box-hard">

                <div class="status-box-title" >
                    Power Off Device
                </div>

                <div class="status-box-row">

                    <form action="{{ url_for('shutdown_device_page') }}"
                          method="post">

                        <button class="maintenance-shutdown"
                                type="submit">

                            Power Off Device

                        </button>

                    </form>

                </div>

            </div>

        </div>

        <footer class="site-footer">
            SvxLink Software &copy; Tobias Blömberg SM0SVX<br>
            SvxLink Configurator and Dashboard &copy; Chris Jackson G4NAB<br>
            Dashboard SvxLink-Dash-V4.0|
            SvxLink Package {{ version_info.package }} |
            SvxLink {{ version_info.engine }}
        </footer>

    </section>

</main>

</body>
</html>