<div class="dashboard-menu">

    <a href="{{ url_for('status_page') }}">
        Dashboard
    </a>

    {% if session.get("authorised") %}

        |

        <a href="{{ url_for('talkgroups_page') }}">
            Talkgroups
        </a>

        |

        <a href="{{ url_for('monitor_tgs_page') }}">
            Monitor TGs
        </a>

        |

        <a href="{{ url_for('ctcss_talkgroups_page') }}">
            CTCSS TGs
        </a>

        |

        <a href="{{ url_for('macros_page') }}">
            Macros
        </a>

        |

        <a href="{{ url_for('echolink_edit_page') }}">
            EchoLink
        </a>

        |

        <a href="{{ url_for('metar_edit_page') }}">
            MetarInfo
        </a>
        |

        <a href="{{ url_for('node_info_edit_page') }}">
            Node Info
        </a>

        |
        <a href="{{ url_for('sound_levels_page') }}">
            Sound Levels
        </a>
        |<br>
        <a href="{{ url_for('sound_calibration_page') }}">
            Sound Calibration
        </a>

        |
        <a href="/review">
            Review
        </a>
        |

        <a href="{{ url_for('log_page') }}">
            Log
        </a>
        |

        <a href="{{ url_for('maintenance_page') }}">
            Maintenance
        </a>
        |
        <a href="{{ url_for('reconfigure_page') }}">Reconfigure</a>

        |

        <a href="{{ url_for('logout_page') }}">
            Logout
        </a>

    {% else %}

        |

        <a href="{{ url_for('authorise_page') }}">
            Authorise
        </a>

    {% endif %}

</div>