<!DOCTYPE html>
<html lang="en" class="light-theme">
<head>
    <meta charset="UTF-8">

    <title>Talkgroup Button Editor</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='site.css') }}">

    <link rel="icon"
          href="{{ url_for('static', filename='svxlink.ico') }}">
</head>

<body>

<main class="page">

<section class="card dashboard-container">

    <div class="dashboard-header">
        <h1>Talkgroup Button Editor</h1>

        <p>
            Edit dashboard talkgroup buttons
        </p>
    </div>
    {% include "navbar.html"%}
    {% if saved %}
        <p class="success">
            Talkgroup buttons saved successfully.
        </p>
    {% endif %}
    <form method="post">

        <table class="dashboard-table">

            <thead>
                <tr>
                    <th>Talkgroup</th>
                    <th>Label</th>
                    <th>Colour</th>
                    <th>Command</th>
                </tr>
            </thead>

            <tbody>

            {% for tg in talkgroups %}

                <tr>

                    <td>
                        <input class="dtmf-command"
                               type="text"
                               name="id_{{ loop.index0 }}"
                               value="{{ tg.id }}">
                    </td>

                    <td>
                        <input class="dtmf-command"
                               type="text"
                               name="label_{{ loop.index0 }}"
                               value="{{ tg.label }}">
                    </td>

                    <td>
                        <select class="dtmf-command"
                            name="colour_{{ loop.index0 }}">

                        <option value="tg-yellow" {% if tg.colour == "tg-yellow" %}selected{% endif %}>Yellow</option>
                        <option value="tg-green" {% if tg.colour == "tg-green" %}selected{% endif %}>Green</option>
                        <option value="tg-blue" {% if tg.colour == "tg-blue" %}selected{% endif %}>Blue</option>
                        <option value="tg-red" {% if tg.colour == "tg-red" %}selected{% endif %}>Red</option>
                        <option value="tg-orange" {% if tg.colour == "tg-orange" %}selected{% endif %}>Orange</option>
                        <option value="tg-purple" {% if tg.colour == "tg-purple" %}selected{% endif %}>Purple</option>
                        <option value="tg-gold" {% if tg.colour == "tg-gold" %}selected{% endif %}>Gold</option>

</select>
                    </td>

                    <td>
                        <input class="dtmf-command"
                               type="text"
                               name="command_{{ loop.index0 }}"
                               value="{{ tg.command }}">
                    </td>

                </tr>

            {% endfor %}

            </tbody>

        </table>

        <div class="tg-button-row">

            <button class="tg-button tg-green"
                    type="submit">
                Save Talkgroups
            </button>

        </div>

    </form>

<footer class="site-footer">
    SvxLink Software &copy; Tobias Blömberg SM0SVX<br>
    SvxLink Configurator and Dashboard &copy; Chris Jackson G4NAB<br>
    Dashboard SvxLink-Dash-V4.0|
    SvxLink Package {{ version_info.package }} |
    SvxLink {{ version_info.engine }}
</footer>

</section>

</main>

</body>
</html>